<template>
    <div class="container-fluid">
        <loading v-if="!loaded"></loading>
        <div v-else-if="user.authenticated">
            <navbar></navbar>
            <router-view></router-view>
        </div>
        <login v-else></login>
    </div>
</template>

<script>
import auth from '../services/auth'

import Navbar from './Partial/Navbar.vue'
import Loading from './Partial/Loading.vue'
import Login from './Auth/Login.vue'

export default {
    name: 'App',
    created: function () {
        auth.checkToken(this);
    },
    components: {
        loading: Loading,
        login: Login,
        navbar: Navbar
    },
    data() {
        return {
            loaded: false,
            user: auth.user
        }
    },
    methods: {

    }
}
</script>

<style rel="stylesheet" type="css">
  @import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
</style>