<template>
    <div>
        <h4>PRIVET</h4>
        <button class="btn btn-outline-primary" v-on:click="logout">LOGOUT</button>
    </div>
</template>

<script>
    import auth from '../services/auth'

    export default {
        methods: {
            logout() {
                auth.logout(this);
            },
            redirectToPost() {
                this.$router.push('post')
            }
        }
    }
</script>