<template>
    <div class="container-fluid mt-md-5">
        <form role="form" autocomplete="off" v-on:submit="create">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="title" v-model="title">
            </div>

            <div class="form-group">
                <label for="body">Body</label>
                <input class="form-control" type="text" id="body" v-model="body">
            </div>

            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
    import post from '../../services/post';

    export default {
        data() {
            return {
                title: null,
                body: null
            }
        },
        methods: {
            create(event) {
                event.preventDefault();
                post.create(this, this.title, this.body);
            }
        }
    }
</script>