<template>
    <div class="album py-5 bg-light">
        <div class="container" v-for="(post, index) in posts">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h3>
                                <router-link :to="{ name: 'post.view', params: {id:post.id}}">
                                    {{ post.title }}
                                </router-link>
                            </h3>
                            <p class="card-text"> {{ post.body }}</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-dark"
                                            v-on:click="$router.push({name: 'post.update', params: {id:post.id}})">
                                        Редактировать
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                            v-on:click="destroy(post.id, index)">Удалить
                                    </button>
                                </div>
                                <small class="text-muted">{{ post.updatedAt }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import post from '../../services/post';

    export default {
        data() {
            return {
                posts: null,
            }
        },
        methods: {
            destroy(id, index) {
                this.$delete(this.posts, index);
                post.destroy(this, id)
            },
            show(id) {
                post.show(this, id)
            }
        },
        created() {
            post.index(this)
        }
    }
</script>