<template>
    <div class="container-fluid mt-md-5">
        <form role="form" autocomplete="off" v-on:submit="update">
            <div class="form-group">
                <label for="title">Title</label>
                <input required class="form-control" type="text" id="title" v-model="post.title">
            </div>

            <div class="form-group">
                <label for="body">Body</label>
                <input required class="form-control" type="text" id="body" v-model="post.body">
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
    import post from '../../services/post';

    export default {
        name: "update-post",
        data() {
            return {
                post: {
                    íd: null,
                    title: null,
                    body: null
                },
            }
        },
        methods: {
            update(event) {
                event.preventDefault();
                post.update(this)
            }
        },
        created() {
            let postId = this.$route.params.id;
            post.get(this, postId);
        }
    }
</script>

<style scoped>

</style>