<template>
    <div class="container">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
    </div>
</template>

<script>
    import post from '../../services/post';

    export default {
        name: "view-post",
        data() {
            return {
                post: {
                    íd: null,
                    title: null,
                    body: null
                }
            }
        },
        created() {
            let postId = this.$route.params.id;
            post.get(this, postId)
        }
    }
</script>