<template>
    <form role="form" autocomplete="off" v-on:submit="changepass">
        <div class="form-group">
            <label for="password">Confirm current password</label>
            <input class="form-control" type="password" id="password" v-model="password" required>
        </div>
        <div class="form-group">
            <label for="password">New password</label>
            <input class="form-control" type="password" id="newPassword" v-model="newPassword" required>
        </div>

        <div class="form-group">
            <label for="password_confirm">Confirm new password</label>
            <input class="form-control" type="password" id="password_confirm" v-model="passwordConfirm" required>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</template>

<script>
    import auth from '../../services/auth'

    export default {
        name: "change-password",
        data() {
            return {
                password: null,
                newPassword: null,
                passwordConfirm: null
            }
        },
        methods: {
            changepass(event) {
                event.preventDefault();
                auth.changePassword(this)
            }
        }
    }
</script>