<template>
    <div class="container mt-md-5">
        <div class="row" v-if="!toggleRegister">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <form role="form" autocomplete="off" v-on:submit="login">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" v-model="email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" id="password" v-model="password">
                    </div>

                    <button class="btn btn-default" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <register v-else></register>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-info mt-3" v-on:click="toggleRegister=true">Register</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-info mt-3" v-on:click="toggleRegister=false">Sing up</button>
            </div>
        </div>
    </div>
</template>

<script>
    import auth from '../../services/auth'

    import Register from './Register.vue'

    export default {
        data() {
            return {
                email: null,
                password: null,
                toggleRegister: false
            }
        },
        components: {
            register: Register
        },
        methods: {
            login(event) {
                event.preventDefault();
                auth.login(this, this.email, this.password)
            }
        }
    }
</script>