<template>
    <form role="form" autocomplete="off" v-on:submit="register">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" v-model="email" required>
            <div class="alert alert-danger" v-if="!success && errors && errors.email">
                <p v-for="item in errors.email">{{ item }}</p>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" v-model="name" required>
            <div class="help-block" v-if="!success && errors && errors.name">
                <p v-for="item in errors.name">{{ item }}</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" v-model="password" required>
        </div>

        <div class="form-group">
            <label for="password_confirm">Confirm password</label>
            <input class="form-control" type="password" id="password_confirm" v-model="passwordConfirm" required>
            <div class="help-block" v-if="!success && errors && errors.password">
                <p v-for="item in errors.password">{{ item }}</p>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</template>

<script>
    import auth from '../../services/auth';

    export default {
        data() {
            return {
                email: null,
                name: null,
                password: null,
                passwordConfirm: null,
                success: false,
                errors: null,
                response: null,
                message: null
            }
        },
        methods: {
            register(event) {
                event.preventDefault();
                auth.register(this, this.email, this.name, this.password, this.passwordConfirm);
            }
        }
    }
</script>